
 * {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	color: #000;
	background-color: #ffffff;
	min-width: 1200px;
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: border-box;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
	min-height: 132px;
}

.main-navigation {
	font-size: 16px;
	line-height: 1.875;
	color: #000000;
	background-color: #eeeeee;
	text-transform: uppercase;
}

.user-navigation,
.content-left-list,
.content-right-list,
.partners-list,
.footer-social-media {
	list-style: none;
}

.cart {
	text-transform: uppercase;
}

.user-navigation a,
.cart a {
	color: #000000;
	font-size: 16px;
	line-height: 1.875;
}

.cart a {
	position: relative;
	display: block;
	margin-left: auto;
	padding-left: 35px;
	margin-top: 80px;
}

.cart a::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	top: 7px;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation a:hover,
.cart a:hover {
	color: #fb565a;
}

.user-navigation a:focus,
.cart a:focus {
	color: #fb565a;
	outline: none;
}

.user-navigation a:active,
.cart a:active {
	color: #818181;
}

.logo a:hover {
	opacity: 0.8;
}

.logo a:focus {
	opacity: 0.8;
	outline: none;
}

.logo a:active {
	opacity: 0.3;	
}

.slider-item p, 
.feature-item p, 
.content-left-text {
	font-size: 16px;
	font-weight: 400; 
	color: #283136;
}

/* slider */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100; 
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 18px;  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: ""; 
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1; 
  width: 18px;
  height: 18px; 
  background: #ffffff; 
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0; 
  list-style: none;
  margin-bottom: 80px;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 48%;
  top: 48%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h2 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
	font-size: 55px;
	line-height: 1;
	font-weight: 500;
}  

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item a {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item a:hover,
.slider-item a:focus {
  background-color: #e74246;
}

.slider-item a:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
} /* slider */

h3 {
	font-size: 24px;
	line-height: 1.25;
	font-weight: bold;
	text-transform: uppercase;
}

.feature-item p {
	margin: 0;
	padding: 0;
	padding-bottom: 28px;
}

.feature-btn {
	font-weight: 500;
	line-height: 1.125;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
}

.red {
	background-color: #fb565a;
}

.red:hover {
	background-color: #e74246;
}

.red:focus {
	background-color: #e74246;
	outline: none;
}

.red:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #c13135;
} 

.green {
	background-color: #00ca74;
}

.green:hover {
	background-color: #00bc6c;
}

.green:focus {
	background-color: #00bc6c;
	outline: none;
}

.green:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #009958;
} 

.yellow {
	background-color: #efc84a;
}

.yellow:hover {
	background-color: #eab534;
}

.yellow:focus {
	background-color: #eab534;
	outline: none;
}

.yellow:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #ce961f;
}

.content-left-title {
	font-size: 45px;
	line-height: 1;
	font-weight: 500;
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
}

.content-left-list-title {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
}

.content-left-list {
	font-weight: 400;
	color: #283136;
	margin: 0;
	padding: 0;
}

.content-right-subtitle {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	padding: 0;
	padding-bottom: 44px;
}

b {
	font-size: 45px;
}

sup {
	font-size: 25px;
}

.partners-list img {
	opacity: 0.2;
}

.partners-list img:hover {
	opacity: 1.0;
}

.partners-list img:active {
	opacity: 0.1;
}

h4 {
	font-size: 18px;
	line-height: 1.666;
	font-weight: bold;
	text-transform: uppercase;
}

.map {
	position: relative;
	width: 100%;
	height: 416px;
	background: url(../img/map.png) no-repeat 50% 50% #ffffff;
}

.map-inner {
	position: absolute;
	max-width: 100%;
	z-index: -1;
	top: 0;
	left: calc(50% - 720px);
}

.map .container {
	position: relative;
}

.map-marker {
	position: absolute;
	top: 90px;
	left: 700px;
}

.contacts {
	margin-bottom: 70px;
}

.contacts-left {
	position: absolute;
	background-color: #ffffff;
	width: 319px;
	height: 308px;
	left: 20px;
	top: 55px;
}

.content-right-text {
	font-weight: 400;
	line-height: 1.125;
	color: #283136;
}

.contacts-left-text {
	width: 220px;
	margin-left: 40px;
	vertical-align: middle;
}

.contacts-left-text:first-child {
	margin-top: 50px;
}

.contacts-left-text p:last-of-type {
	margin-bottom: 35px;
}

.contacts-left p {
	font-weight: 400;
	line-height: 1.125;
	color: #666666;
}

.btn {
	display: block;
	width: 219px;
	padding: 17px 0;
	text-align: center;
	border-radius: 3px;
	border: none;
	background-color: #fb565a;
}

.contacts-left a {
	font-weight: 500;
	line-height: 1.125;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #fb565a;	
}

.contacts-left a:hover {
	background-color: #e74246;
}

.contacts-left a:focus {
	background-color: #e74246;
	outline: none;
}

.contacts-left a:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #c13135;
} 

.main-footer {
	min-height: 155px;
}

.main-footer .container {
	display: flex;
	align-items: center;
}

.footer-social-media {
	display: flex;
	margin: 0;
	padding: 0;
	margin-right: 140px;
}

.footer-content {
	width: 544px;
}

.footer-content-title {
	font-size: 36px;
	line-height: 1;
	font-weight: bold;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

.footer-content-text {
	font-weight: 400;
	line-height: 1.375;
	color: #444444;
	margin: 0;
	padding: 0;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
}

.footer-social-media a {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #e1e1e1;
	margin-right: 10px;
}

.footer-social-media a:hover {
	background-color: #e74246;
}

.footer-social-media a:focus {
	background-color: #e74246;
	outline: none;
}

.footer-social-media a:focus path {
	opacity: 0.3;
}

.footer-social-media a:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #c13135;
}

.left-form input[type="text"],
.left-form textarea {
	font-weight: 400;
	line-height: 1.125;
	text-transform: none;
	color: rgba(68, 68, 68, 0.5);
	border: 2px solid #d7dcde;
}

.left-form input[type="text"]:hover,
.left-form textarea:hover {
	border: 2px solid #b4b9bb;
}

.left-form input[type="text"]:focus,
.left-form textarea:focus {
	border: 2px solid #000000;
	outline: none;
}

.left-form input[type="text"]:invalid,
.left-form textarea:invalid {
	border: 2px solid #e74246;
	color: #e74246;
}

.form-title {
	font-size: 45px;
	line-height: 1;
	font-weight: 500;
}

.left-form-item label {
	line-height: 1.125;
	font-weight: bold;
}

.modal-sent {
	font-weight: 500;
	line-height: 1.125;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #fb565a;
}

.modal-sent:hover {
	background-color: #e74246;
}

.modal-sent:focus {
	background-color: #e74246;
	outline: none;
}

.modal-sent:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #c13135;
} 

/* catalog.html */

.current a {
	position: relative;
	padding-bottom: 12px;
}

.current a:after {
	content: "";
	position: absolute;
	background-color: #fb565a;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
}

.catalog-title {
	font-size: 55px;
	line-height: 1;
	font-weight: 500;
	text-align: center;
}

.column-left-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.column-left-form legend {
	margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.filter-option {
	margin-bottom: 24px;
}

.filter-input:hover + label {
	opacity: 1.0;
}

.filter-input:disabled + label {
	opacity: 0.1;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.column-left-form-input + label::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	border: 4px solid #4d4d4d;
	border-radius: 50%;
	left: -40px;
	top: -2px;
	opacity: 0.4;
}

.column-left-form-input:checked + label::after {
	content: "";
	position: absolute;
	width: 9px;
	height: 9px;
	background-color: #4d4d4d;
	border-radius: 50%;
	left: -32px;
	top: 6px;
	opacity: 0.4;
}

.column-left-form-check + label::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	border: 2px solid #4d4d4d;
	border-radius: 2px;
	left: -40px;
	top: -2px;
	opacity: 0.4;
}
.column-left-form-check:checked + label::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 12px;
	border: 4px solid #4d4d4d;
	border-top-style: none;
	border-right-style: none;
	transform: rotate(-45deg);
	left: -33px;
	top: 0px;
	opacity: 0.4;
}

.filter-option-list {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 37px;
}
.column-left-form-title {
	font-size: 18px;
	line-height: 1.666;
	text-transform: uppercase;
	font-weight: bold;
}

.price-range-min-title,
.price-range-max-title,
.column-left-form input[type="text"] {
	font-weight: 400;
	line-height: 1.375;
	color: #283136;
}

.column-left-form-button {
	width: 100%;
	padding: 17px 0; 
	background-color: #eeeeee;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
	color: #000000;
	border: none;
}

.sort-title {
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;	
}

.column-left-form-label {
	color: #283136;
	font-weight: 400;
	line-height: 1.25;
}

.column-left-form-input:hover + label {
	color: #000000;
}

.column-left-form-input:disabled + label {
	color: rgba(0, 0, 0, 0.3);
}

.column-left-form-button:hover {
	background-color: #dfdfdf;
}

.column-left-form-button:focus {
	background-color: #dfdfdf;
	outline: none;
}

.column-left-form-button:active {
	outline: none;
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.sort-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.285;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.sort-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort-link:focus,
.sort-link:active {
	outline: none;
	color: #000000;
}

.sort-link path {
	opacity: 0.3;
}

.sort-link:hover path {
	opacity: 0.6;
}

.sort-link:focus path,
.sort-link:active path {
	opacity: 1.0;
}

h4 {
	font-size: 18px;
	line-height: 1.6;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.item-content-text {
	font-weight: 400;
	line-height: 1.1;
	color: #666666;
}

.item-content-button {
	width: 200px;
	padding: 17px 0;
	border-radius: 2px;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
	background-color: #fb565a;
	color: #ffffff;
	border: none;
}

.item-content-button:hover {
	background-color: #e74246;
}

.item-content-button:focus {
	background-color: #e74246;
	outline: none;
}

.item-content-button:active {
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0 0 #c13135;
}

.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.pagination-item {
	margin-right: 10px;
}

.pagination-item:last-child {
	margin-right: 0;
}

.pagination-item  a {
	display: block;
	padding: 18px 20px;
	margin-bottom: 60px;
	background-color: #eeeeee;
	font-weight: 500;
	line-height: 1.1;
	color: #000000;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:focus {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	outline: none;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

/* сетка */

.modal {
	display: none;
}

.feature-btn {
	display: block;
	width: 160px;
	padding: 17px 0;
	text-align: center;
	border-radius: 3px;
	border: none;
}

.header-wrapper {
	display: flex;
	justify-content: flex-start;
}

.main-navigation {
	display: flex;
}

.user-navigation {
	display: flex;
	justify-content: space-between;
	width: 440px;
	margin-right: 280px;
	margin-top: 80px;
}

.logo {
	width: 160px;
	margin-right: 200px;
	margin-top: 50px;
	margin-bottom: 17px;
}

.features {
	position: relative;
	display: flex;
	height: 348px;
	margin-bottom: 160px;
}

.features::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -80px;
	background-color: #eeeeee;
}

.feature-item {
	width: 300px;
	height: 348px;
	margin-right: 100px;
}

.feature-item:nth-of-type(3n) {
    margin-right: 60px;
}

.content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}

.content-left {
	width: 700px;
	margin-right: 100px;
}

.content-right-logo  {
	padding-bottom: 40px;
}

.content-left-list li {
	position: relative;
	padding-bottom: 34px;
	padding-left: 40px;
}

.content-left-list li::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	left: 2px;
	top: 10px;
}

.content-left-text {
	margin: 0;
	padding: 0;
	padding-bottom: 44px;
}

.content-right {
	width: 360px;
}

.content-right-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.content-right-list li {
	margin-right: 25px;
	width: 100px;
}

.content-right-list li:last-of-type(3n) {
	margin-right: 16px;
} 

.partners-list {
	display: flex;
	justify-content: space-around;
}

.partners-logo1 {
	width: 199px
}

.partners-logo2 {
	width: 209px;
}

.partners-logo3 {
	width: 185px;
}

.partners-logo4 {
	width: 173px;
}

.partners-row {
	position: relative;
	margin-bottom: 120px;
}

.partners-row::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	transform: translateY(-45px);
	background-color: #eeeeee;
}

.partners-row::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	transform: translateY(20px);
	background-color: #eeeeee;
}

/*inner page */

.inner-page .main-header {
	min-height: 356px;
	margin-bottom: 60px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.column-left {
	width: 260px;
	min-height: 773px;
}

.catalog-items {
	width: 760px;
	min-height: 1914px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item {
	width: 360px;
	min-height: 616px;
	margin-bottom: 33px;
}

.sort {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.sort-links {
	width: 360px;
}

.sort-links a {
	display: inline-block;
	margin-right: 20px;
}

.sort-title {
	width: 133px;
}

/* range filter */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 63px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 39px; 
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  background-color: #ababab;
  padding: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
	top: 31px;
  	left: 50px;
}

.range-controls .toggle-max {
	top: 31px;
 	left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 65px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

