body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	color: #000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	font-size: 16px;
	line-height: 1.875;
	color: #000000;
	background-color: #eeeeee;
	text-transform: uppercase;
}

.user-navigation,
.content-left-list,
.content-right-list,
.partners-list,
.footer-social-media {
	list-style: none;
}

.cart {
	text-transform: uppercase;

}

.user-navigation a,
.cart a {
	color: #000000;
	font-size: 16px;
	line-height: 1.875;
}

.user-navigation a:hover,
.cart a:hover {
	color: #fb565a;
}

.user-navigation a:focus,
.user-navigation a:active,
.cart a:active {
	color: #818181;
}

.logo img:hover {
	opacity: 0.8;
}

.logo img:active {
	opacity: 0.3;
}

h2 {
	font-size: 55px;
	line-height: 1;
	font-weight: 500;
}

.slider-item p, 
.feature-item p, 
.content-left-text {
	font-size: 16px;
	font-weight: 400; 
	color: #283136;
}

.slider-item a {
	font-size: 16px;
	line-height: 1.1;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #fb565a;
}

.slider-item a:hover {
	background-color: #e74246;
}

.slider-item a:active {
	color: #e06366;
	box-shadow: inset 0px 3px 0 0 #c13135;
}

h3 {
	font-size: 24px;
	line-height: 1.25;
	font-weight: bold;
	text-transform: uppercase;
}

.feature-btn {
	font-weight: 500;
	line-height: 1.125;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
}

.red {
	background-color: #fb565a;
}

.red:hover {
	background-color: #e74246;
}

.red:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #c13135;
} 

.green {
	background-color: #00ca74;
}

.green:hover {
	background-color: #00bc6c;
}

.green:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #009958;
} 
.yellow {
	background-color: #efc84a;
}

.yellow:hover {
	background-color: #eab534;
}

.yellow:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #ce961f;
}

.content-left-title {
	font-size: 45px;
	line-height: 1;
	font-weight: 500;
}

.content-left-list-title {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.content-left-list {
	font-weight: 400;
	color: #283136;
}

.content-right-subtitle {
	text-transform: uppercase;
	font-weight: bold;
}

b {
	font-size: 45px;
}

sup {
	font-size: 25px;
}

.partners-list img {
	opacity: 0.2;
}

.partners-list img:hover {
	opacity: 1.0;
}

.partners-list img:active {
	opacity: 0.1;
}

h4 {
	font-size: 18px;
	line-height: 1.666;
	font-weight: bold;
	text-transform: uppercase;
}

.content-right-text {
	font-weight: 400;
	line-height: 1.125;
	color: #283136;
}

.contacts-left p {
	font-weight: 400;
	line-height: 1.125;
	color: #666666;
}

.contacts-left a {
	font-weight: 500;
	line-height: 1.125;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #fb565a;	
}

.contacts-left a:hover {
	background-color: #e74246;
}

.contacts-left a:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #c13135;
} 
.footer-content-title {
	font-size: 36px;
	line-height: 1;
	font-weight: bold;
}

.footer-content-text {
	font-weight: 400;
	line-height: 1.375;
	color: #444444;
}

.footer-social-media a {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #e1e1e1;
	text-align: center;
}

.footer-social-media a:hover {
	background-color: #e74246;
}

.footer-social-media a:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #c13135;
}

.left-form input[type="text"],
.left-form textarea {
	font-weight: 400;
	line-height: 1.125;
	text-transform: none;
	color: rgba(68, 68, 68, 0.5);
	border: 2px solid #d7dcde;
}

.left-form input[type="text"]:hover,
.left-form textarea:hover {
	border: 2px solid #b4b9bb;
}

.left-form input[type="text"]:focus,
.left-form textarea:focus {
	border: 2px solid #000000;
	outline: none;
}

.left-form input[type="text"]:invalid,
.left-form textarea:invalid {
	border: 2px solid #e74246;
	color: #e74246;
}

.form-title {
	font-size: 45px;
	line-height: 1;
	font-weight: 500;
}

label {
	line-height: 1.125;
	font-weight: bold;
}

.modal-sent {
	font-weight: 500;
	line-height: 1.125;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #fb565a;
}

.modal-sent:hover {
	background-color: #e74246;
}

.modal-sent:focus {
	background-color: #e74246;
	outline: none;
}

.modal-sent:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 #c13135;
} 

/* catalog.html */

.catalog-title {
	font-size: 55px;
	line-height: 1;
	font-weight: 500;
	text-align: center;
}

.column-left-form fieldset {
	border: none;
}

.column-left-form-title {
	font-size: 18px;
	line-height: 1.666;
	text-transform: uppercase;
	font-weight: bold;
}

.price-range-min-title,
.price-range-max-title,
.column-left-form input[type="text"] {
	font-weight: 400;
	line-height: 1.375;
	color: #283136;
}

.sort-title {
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;	
}

.column-left-form-label {
	color: #283136;
	font-weight: 400;
	line-height: 1.25;
}

.column-left-form-input:hover + label {
	color: #000000;
}

.column-left-form-input:disabled + label {
	color: rgba(0, 0, 0, 0.3);
}

.column-left-form-button {
	background-color: #eeeeee;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
	color: #000000;
	border: none;
}

.column-left-form-button:hover {
	background-color: #dfdfdf;
}

.column-left-form-button:focus,
.column-left-form-button:active {
	outline: none;
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.sort-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.285;
	text-transform: uppercase;
	color: #000000;
}

.sort-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort-link:focus,
.sort-link:active {
	outline: none;
	color: rgba(0, 0, 0, 0.3);
}

h4 {
	font-size: 18px;
	line-height: 1.6;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.item-content-text {
	font-weight: 400;
	line-height: 1.1;
	color: #666666;
}

.item-content-button {
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
	background-color: #fb565a;
	color: #ffffff;
	border: none;
}

.item-content-button:hover {
	background-color: #e74246;
}

.item-content-button:focus,
.item-content-button:active {
	outline: none;
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0 0 #c13135;
}

.pagination-list {
	list-style: none;
}

.pagination-item  a {
	background-color: #eeeeee;
	font-weight: 500;
	line-height: 1.1;
	color: #000000;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:focus {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	outline: none;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}